In [5]:
import pandas as pd
import numpy as np
import chardet

nomArch = '../Datos/Premios2020.csv' 
#-- detectando la codificación de caracteres usada ----
with open(nomArch, 'rb') as f:
    result = chardet.detect(f.read())  # or readline if the file is large

df= pd.read_csv(nomArch, encoding=result['encoding'])
df

,Year,Age,Actor,Sex,Film,nominations,rating,duration,genre1,genre2,release,synopsis
0,1928,44,Emil Jannings,M,The Last Command,2.0,8.0,88,Drama,History,April,A former Imperial Russian general and cousin o...
1,1928,22,Laura Gainor (aka Janet Gaynor),F,Sunrise,5.0,7.8,110,Drama,Romance,NaN,A street cleaner saves a young womans life and...
2,1929,37,Mary Pickford,F,Coquette,1.0,7.3,76,Drama,Romance,April,A flirtatious southern belle is compromised wi...
3,1929,38,Warner Baxter,M,In Old Arizona,5.0,5.8,95,Romance,Western,January,A charming happy-go-lucky bandit in old Arizon...
4,1930,62,George Arliss,M,Disraeli,3.0,6.5,90,Biography,Drama,November,Prime Minister of Great Britain Benjamin Disra...
...,...,...,...,...,...,...,...,...,...,...,...,...
181,2018,44,Olivia Colman,F,The Favourite,10.0,7.5,119,Comedy,Drama,December,In the early 18th century England is at war wi...
182,2019,50,Renée Zellweger,F,Judy,2.0,6.8,118,Biography,Drama,February,"Thirty years after starring in ""The Wizard of ..."
183,2019,45,Joaquin Phoenix,M,Joker,11.0,8.5,122,Drama,Thriller,October,Arthur Fleck loves to make people laugh but hi...
184,2020,63,Frances McDormand,F,Nomadland,6.0,7.4,108,Drama,NaN,September,Nomadland es una película estadounidense de dr...
185,2020,83,Anthony Hopkins,M,The father,6.0,8.3,97,Drama,NaN,January,Anthony tiene casi 83 años. Vive solo en su ap...

**Datos faltantes**

In [6]:
print(df.isnull().sum())

Year            0
Age             0
Actor           0
Sex             0
Film            0
nominations     8
rating          0
duration        0
genre1          0
genre2         37
release         4
synopsis        0
dtype: int64

**Completando datos faltantes**

In [7]:
values = {'nominations': df['nominations'].min(), 'rating': 5}
df.fillna(value=values, inplace=True)
df.isnull().sum()

Year            0
Age             0
Actor           0
Sex             0
Film            0
nominations     0
rating          0
duration        0
genre1          0
genre2         37
release         4
synopsis        0
dtype: int64

In [22]:
modaGen = df['genre2'].mode()[0]

print("La MODA del atributo 'genre2' es ", modaGen)

df['genre2'] = df['genre2'].replace(np.nan, modaGen)
df.isnull().sum()

La MODA del atributo 'genre2' es  Drama

Year           0
Age            0
Actor          0
Sex            0
Film           0
nominations    0
rating         0
duration       0
genre1         0
genre2         0
release        4
synopsis       0
dtype: int64