In [1]:
import math 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import chardet

nomArch = '../Datos/Premios2020.csv' 
#-- detectando la codificación de caracteres usada ----
with open(nomArch, 'rb') as f:
    result = chardet.detect(f.read())  # or readline if the file is large

df= pd.read_csv(nomArch, encoding=result['encoding'])

**Completando los datos faltantes del atributo release**

In [2]:
moda = df['release'].mode()
df['release'] = df['release'].replace([np.nan], moda)

pd.value_counts(df['release'])

December     32
January      25
February     22
November     22
October      20
June         12
September    11
April         9
July          9
March         8
August        8
May           8
Name: release, dtype: int64

**Numerización de entero único**

In [3]:
mapeo = {"release": {"January":1, "February":2, "March":3,"April":4,
                "May":5, "June":6,"July":7, "August":8, "September":9,
                     "October":10, "November":11, "December":12}}

df.replace(mapeo, inplace=True)
print(df['release'].describe())

count    186.000000
mean       6.951613
std        4.084621
min        1.000000
25%        2.250000
50%        7.500000
75%       11.000000
max       12.000000
Name: release, dtype: float64

**Numerización binaria**

In [4]:
# atributo sexo con codificación binaria
NuevasColumnas = pd.get_dummies(df['Sex'], prefix= 'Sex')

# Agregamos las nuevas columnas al DataFrame
df = pd.concat([NuevasColumnas, df], axis=1)

# Borramos la columna anterior
df.drop('Sex',axis=1, inplace=True)

df

,Sex_F,Sex_M,Year,Age,Actor,Film,nominations,rating,duration,genre1,genre2,release,synopsis
0,0,1,1928,44,Emil Jannings,The Last Command,2.0,8.0,88,Drama,History,4,A former Imperial Russian general and cousin o...
1,1,0,1928,22,Laura Gainor (aka Janet Gaynor),Sunrise,5.0,7.8,110,Drama,Romance,12,A street cleaner saves a young womans life and...
2,1,0,1929,37,Mary Pickford,Coquette,1.0,7.3,76,Drama,Romance,4,A flirtatious southern belle is compromised wi...
3,0,1,1929,38,Warner Baxter,In Old Arizona,5.0,5.8,95,Romance,Western,1,A charming happy-go-lucky bandit in old Arizon...
4,0,1,1930,62,George Arliss,Disraeli,3.0,6.5,90,Biography,Drama,11,Prime Minister of Great Britain Benjamin Disra...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
181,1,0,2018,44,Olivia Colman,The Favourite,10.0,7.5,119,Comedy,Drama,12,In the early 18th century England is at war wi...
182,1,0,2019,50,Renée Zellweger,Judy,2.0,6.8,118,Biography,Drama,2,"Thirty years after starring in ""The Wizard of ..."
183,0,1,2019,45,Joaquin Phoenix,Joker,11.0,8.5,122,Drama,Thriller,10,Arthur Fleck loves to make people laugh but hi...
184,1,0,2020,63,Frances McDormand,Nomadland,6.0,7.4,108,Drama,NaN,9,Nomadland es una película estadounidense de dr...
185,0,1,2020,83,Anthony Hopkins,The father,6.0,8.3,97,Drama,NaN,1,Anthony tiene casi 83 años. Vive solo en su ap...